/* body{
    background: rgb(255, 255, 255);
} */

.side-card1{
    background-color: rgb(150, 140, 126);
    width: 400px;
    min-height: 576px;
}

.side-card1 h1{
    color: aquamarine;
}

.midcard1{
    position: absolute;
    top: 70px;
    left: 400px;
    width: 960px;
    min-height: 87%;
    background: whitesmoke;
    background: url(./avian.jpg);
}

.midcard1 .imgcard1{
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgb(31, 41, 56);
    /* background-image: url(./humanoid.webp); */
    width: 300px;
    height: 100%;
}

.midcard1 .imgcard1 h2{
    color: rgb(190, 190, 190);
}