/* body{
    background: rgb(255, 255, 255);
} */




.side-card{
    background-image: linear-gradient(rgb(3, 31, 85), rgb(3, 10, 114), rgb(42, 8, 117));
    width: 300px;
    min-height: 576px;
    /* border-radius: 35px; */
}

.side-card h1{
    color: aquamarine;
}

.side-card h3{
    color: rgb(140, 196, 177);
}

.incl{
    color: rgb(9, 15, 48);
}

.midcard{
    position: absolute;
    top: 70px;
    left: 300px;
    width: 1060px;
    min-height: 87%;
    background: whitesmoke;
    border-radius: 20px;
    background-image: linear-gradient(rgb(209, 210, 214), rgb(227, 228, 240), rgb(236, 232, 247), #f3fbfc);
}

.midcard .imgcard{
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: linear-gradient(rgb(209, 210, 214), rgb(227, 228, 240), rgb(236, 232, 247), #f3fbfc);
    /* background-image: url(./humanoid.webp); */
    width: 300px;
    height: 100%;
}

.midcard .imgcard h2{
    color: rgb(138, 137, 137);
}