.headi{
    background-image: url(https://images.twinkl.co.uk/tw1n/image/private/t_630/image_repo/2b/2b/T-T-17828-Editable-A4-Tools_ver_1.jpg);
    max-width: 100%;
    min-height: 460px;
}

.prim{
    color: chartreuse;
}