*{
    margin: 0;
    padding: 0;
}

.head{
    position: absolute;
    top: 20px;
    color: rgb(83, 83, 80);
    height: 320px;
    width: 300px;
    background: rgb(230, 230, 230);
    box-shadow: -15px 15px 30px 0 rgb(255, 253, 253), 15px 15px 30px 0 #1d0dca17;
    /* border-radius: 20%; */
}

.head:hover {
    background: #f8f8ff;
    box-shadow: -15px 15px 30px 0 rgb(255, 253, 253), 15px 15px 30px 0 #1d0dca17;
    width: 50vh;
    
  }
span{
    position: absolute;
    top: 20px;
    left: 390px;
}