*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #7b7b7c;
}

img{
    width: 100%;
    height: 100%;
}

.head{
    position: absolute;
    top: 80px;
    color: rgb(83, 83, 80);
    height: 320px;
    width: 300px;
    background: rgb(230, 230, 230);
    box-shadow: -15px 15px 30px 0 rgb(255, 253, 253), 15px 15px 30px 0 #1d0dca17;
    /* border-radius: 20%; */
}

.head:hover {
    background: #f8f8ff;
    box-shadow: -15px 15px 30px 0 rgb(255, 253, 253), 15px 15px 30px 0 #1d0dca17;
    width: 50vh;
    
  }

.human{
    background-image: url(https://i.pinimg.com/originals/11/f8/eb/11f8eb567fbdc1abf0c1ffbd75be30b5.jpg);
    position: absolute;
    top: 10%;
    left: 60px;
}

.span{
    position: absolute;
    top: 10%;
    left: 420px;
}


.do{
    position: absolute;
    top: 10%;
    left: 600px;
}

.motors{
    position: absolute;
    top: 80px;
    left: 800px;
}