nav{
  min-height: 70px;
  background-color: rgb(43, 43, 43);
  width: 100%;
}

.droidspan{
  position: relative;
  color: rgb(82, 102, 101);
  font-size: 27px;


}

.home-btn{
  position: absolute;
  top: 3%;
}

.home{
  position: absolute;
  top: 5%;
  left: 500px;
  color: rgb(0, 0, 0);

}

.lnk{
  color: aqua;
}

.abo{
  position: absolute;
  top: 5%;
  left: 560px;
  
}

.prof{
  position: absolute;
  top: 5%;
  left: 630px;
}

.packs{
  position: absolute;
  top: 5%;
  left: 700px;
  color: aqua;
}

.getgo{
  color: #000000;
}



.go {
  position: absolute;
  left: 42%;
  top: 240px;
  align-items: center;
  background: #a8a8aa;
  border: 0;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #c0e92e17;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5rem;
  padding: 15px;
  position: relative;
  text-align: left;
  transition: .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
  word-break: normal;
  word-spacing: normal;
}

.go:hover {
  background: #f8f8ff;
  box-shadow: -15px 15px 30px 0 rgb(255, 253, 253), 15px 15px 30px 0 #1d0dca17;
}

@media (min-width: 768px) {
  .go {
    padding: 24px;
  }
}
        
